<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.ogong.service.admin.AdminMapper">
	
	
	<resultMap id="ReportSelectMap" type="report">
		<result property="reportNo"        				 column="REPORT_NO"       	 jdbcType="NUMERIC"/>
		<result property="reportAnswer"  				 column="ANSWER_NO"          jdbcType="NUMERIC"/>
		<result property="reportComment" 				 column="COMMENT_NO"         jdbcType="NUMERIC"/>
		<result property="reportBoard"   				 column="BOARD_NO"           jdbcType="NUMERIC"/>
		<result property="reportUser"  		   		 	 column="EMAIL"     		 jdbcType="VARCHAR"/>
		<result property="reportReason"    				 column="REPORT_REASON"      jdbcType="VARCHAR"/>
		<result property="reportDate"      				 column="REPORT_DATE"        jdbcType="DATE"/>
		<result property="suspendType"	   				 column="SUSPEND_TYPE"	     jdbcType="VARCHAR"/>
		
		<association property="reportUser" javaType="user">
			<id property="email" column="email" jdbcType="VARCHAR"/>
			<result property="nickname" 				 column="NICKNAME" 			 jdbcType="VARCHAR"/>
			<result property="condition" 				 column="CONDITION" 		 jdbcType="VARCHAR"/>		
			<result property="suspendStartDate" 		 column="SYSPEND_START_DATE" jdbcType="DATE"/>
			<result property="suspendEndDate" 		 	 column="SYSPEND_END_DATE"	 jdbcType="DATE"/>
		</association>
		 
	</resultMap>
	
	
	
	<!-- 신고된 사용자 목록 -->
	<!-- <select id="listReportUser" parameterType="search" resultMap="ReportSelectMap">
	
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT r.report_no,
											 r.report_reason,
											 u.nickname,
											 r.report_date,
											 u.condition
											 FROM report r, users u
											 WHERE u.email = r.email
											 AND   answer_no is NULL
											 AND   comment_no is NULL
											 AND   board_no is NULL
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND u.nickname LIKE '%${searchKeyword}%'
											 		</when>
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY u.nickname ASC
	      										ORDER BY u.nickname DESC
	      										ORDER BY r.report_date ASC
	      										ORDER BY r.report_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	<!-- 신고된 게시글 목록 -->
	<!-- <select id="listReportBoard" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT r.report_no,
											 b.board_title,
											 r.report_reason,
											 b.nickname,
											 r.report_date,
											 u.condition
											 FROM report r, users u, board b
											 WHERE u.email = r.email
											 AND   b.board_no = r.board_no
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND u.nickname LIKE '%${searchKeyword}%'
											 		</when>
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY b.nickname ASC
	      										ORDER BY b.nickname DESC
	      										ORDER BY r.report_date ASC
	      										ORDER BY r.report_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>	 -->
	
	<!-- 신고된 댓글 목록 -->
	<!-- <select id="listReportComment" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT r.report_no,
											 c.comment_contents,
											 c.writer_nickname,
											 r.report_reason,
											 r.report_date,
											 u.condition
											 FROM report r, users u, comment c
											 WHERE c.email = r.email
											 AND   r.email = u.email
											 AND   c.comment_no = r.comment_no
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND u.nickname LIKE '%${searchKeyword}%'
											 		</when>
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY c.nickname ASC
	      										ORDER BY c.nickname DESC
	      										ORDER BY r.report_date ASC
	      										ORDER BY r.report_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	<!-- 신고된 답변 목록 -->
<!-- 	<select id="listReportAnswer" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT email,
											 nickname,
											 reg_date
											 FROM users
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			WHERE nickname LIKE '%${searchKeyword}%'
											 		</when>
											 		<when test="searchCondition == 1 and searchKeyword !='' ">
											 			WHERE email LIKE '%${searchKeyword}%'
											 		</when>											 		
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY a.writer_nickname ASC
	      										ORDER BY a.writer_nickname DESC
	      										ORDER BY r.report_date ASC
	      										ORDER BY r.report_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	
	<!-- 모든 회원 목록 -->
	<!-- <select id="listTotalUser" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT r.report_no,
											 a.answer_contents,
											 a.writer_nickname,
											 r.report_reason,
											 r.report_date,
											 u.condition
											 FROM report r, users u, answer a
											 WHERE a.answer_no = r.answer_no
											 AND   r.email = u.email
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND a.writer_nickname LIKE '%${searchKeyword}%'
											 		</when>
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY nickname ASC
	      										ORDER BY nickname DESC
	      										ORDER BY email ASC
	      										ORDER BY email DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	
	<!-- 탈퇴 회원 목록 -->
	<!-- <select id="listWithdrawlUser" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT email,
											 nickname,
											 reg_date,
											 withdraw_date,
											 withdraw_reason
											 FROM users
											 WHERE withdraw_date is NOT NULL
											 AND   withdraw_reason is NOT NULL
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND nickname LIKE '%${searchKeyword}%'
											 		</when>
											 		<when test="searchCondition == 1 and searchKeyword !='' ">
											 			AND email LIKE '%${searchKeyword}%'
											 		</when>											 		
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY nickname ASC
	      										ORDER BY nickname DESC
	      										ORDER BY email ASC
	      										ORDER BY email DESC
	      										ORDER BY withdraw_date ASC
	      										ORDER BY withdraw_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	
	<!-- 복구 회원 목록 -->
	<!-- <select id="listRestoreUser" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT email,
											 nickname,
											 reg_date,
											 restore_date
											 FROM users
											 WHERE retore_date is NOT NULL
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND nickname LIKE '%${searchKeyword}%'
											 		</when>
											 		<when test="searchCondition == 1 and searchKeyword !='' ">
											 			AND email LIKE '%${searchKeyword}%'
											 		</when>											 		
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY nickname ASC
	      										ORDER BY nickname DESC
	      										ORDER BY email ASC
	      										ORDER BY email DESC
	      										ORDER BY restore_date ABC
	      										ORDER BY restore_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	
	<!-- 정지 회원 목록 -->
	<!-- <select id="listSuspendUser" parameterType="search" resultMap="ReportSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
						FROM		( SELECT email,
											 nickname,
											 suspend_start_date,
											 suspend_end_date,
											 condition
											 FROM users
											 WHERE suspend_start_date is NOT NULL
											 AND   suspend_end_date is NOT NULL
											 <if test="searchCondition != null">
											 	<choose>
											 		<when test="searchCondition == 0 and searchKeyword !='' ">
											 			AND nickname LIKE '%${searchKeyword}%'
											 		</when>
											 		<when test="searchCondition == 1 and searchKeyword !='' ">
											 			AND email LIKE '%${searchKeyword}%'
											 		</when>											 		
											 	</choose>
											 </if>
											 이 자리에 정렬기능이 추가됨 
	      										ORDER BY nickname ASC
	      										ORDER BY nickname DESC
	      										ORDER BY email ASC
	      										ORDER BY email DESC
	      										ORDER BY suspend_end_date ASC
	      										ORDER BY suspend_end_date DESC
	      									
											 ORDER BY r.report_no ) inner_table
								WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select> -->
	
	<!-- 회원 정지 -->
	<update id="updateUserSuspend" parameterType="report" >
		UPDATE users
		<set>
			suspend_start_date = SYSDATE,
			condition = '2',
			<choose>
				<when test="suspendType == 1">
					suspend_end_date = SYSDATE+7
				</when>
				<when test="suspendType == 2">
					suspend_end_date = SYSDATE+30
				</when>
				<when test="suspendType == 3">
					suspend_end_date = 99/12/31
				</when>								
			</choose>
		</set>
		WHERE email = #{reportUser.email}
	</update>
	
	<!-- 회원 복구 -->
	<!-- <update id="updateUserRestore" parameterType="report" >
		UPDATE users
		<set>
			suspend_start_date = #{reportUsers.suspendStartDate} ,
			suspend_end_date = #{reportUsers.suspendEndDate},
			condition = 1
		</set>
		WHERE email = #{reportUsers.email}
	</update> -->
	
</mapper>
