<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ogong.service.board.BoardMapper">
 	
	<resultMap id="boardSelectMap" 	type="board">
		<result property="boardNo" 		column="board_no" 			jdbcType="NUMERIC"/>
		<!-- <result property="nickName" 		column="nickname" 			jdbcType="VARCHAR" /> --> 
		<result property="boardCategory" 		column="board_category" 			jdbcType="VARCHAR" />
		<result property="boardTitle" 		column="board_title" 			jdbcType="VARCHAR" />
		<result property="boardContents" 		column="board_contents" 			jdbcType="VARCHAR" />
		<result property="boardInterest" 		column="board_interest" 			jdbcType="NUMERIC" /> 
		<result property="boardRegDate" 		column="board_reg_date" 			jdbcType="DATE" /> 
		<result property="viewCount" 		column="view_count" 			jdbcType="NUMERIC" />
		<result property="commentCount" 		column="comment_count" 			jdbcType="NUMERIC" />
		<result property="boardRegBanana" 		column="board_reg_banana" 		jdbcType="NUMERIC" />
		<result property="fileFlag" 			column="file_flag" 				jdbcType="NUMERIC" /> 
		<result property="answerCount" 		column="answer_count" 			jdbcType="NUMERIC" />
		
		
<!-- 	<association property="StudyNo"  javaType="study">
			<id property="studyNo" column="study_no" jdbcType="NUMERIC"/>
		</association> -->
		
		<association property="writer"  javaType="user">
			<id property="nickname" column="nickname" jdbcType="VARCHAR"/>
		</association>

	</resultMap>
	
	
<!-- 검색조건 -->

<select 	id="getTotalCount" parameterType="search" resultType="int">
	
		SELECT
			COUNT(*)
		FROM
			board	
		<if test="searchKeyword!=null and searchKeyword!=''">
		where
  			board_title like '%'||#{searchKeyword}||'%'
  		OR	board_contents like '%'||#{searchKeyword}||'%'
  		OR
		</if>	
			
</select>





<!-- 게시판 등록 -->

	<insert id="addBoard" parameterType="board" >
		INSERT
		INTO board( board_no,
					study_no,
					email, 
					nickname, 
					board_category, 
					board_title,
					board_contents, 
					board_interest, 
					board_reg_date, 
					board_reg_banana, 
					file_flag, 
					view_count,
					comment_count,
					answer_count )
			VALUES( seq_board_no.nextval,
					#{study.studyNo:NUMERIC}, 
					#{writer.email},
					#{writer.nickname},
					#{boardCategory},
					#{boardTitle},
					#{boardContents},
					#{boardInterest},
					#{boardRegDate},
					#{boardRegBanana},
					#{fileFlag},		
					0,  
					0,
					0 
					)
	</insert>		

	
<!-- 게시판 보기 1.정보공유 게시판 2.Q&A게시판 3.합격후기 게시판 4.자유게시판5.자율스터디 모집게시판 6.파일공유 게시판-->
	
		<select id="getBoard" parameterType="board" resultMap="boardSelectMap">
			SELECT
				board_no,
				nickname,
				board_category,
				board_title
				board_contents,
				board_interest,
				board_reg_date,
				view_count,
				comment_count,
				file_flag
			FROM 
				board
			WHERE 
				board_no = #{boardNo}
		</select> 
	
		
<!-- 게시판 수정 -->
	
		<update id="updateBoard" parameterType="board" >
			UPDATE 
				board 
			SET 
				board_title = #{boardTitle}			
				, board_contents = #{boardContents}
			WHERE 
				board_no = #{boardNo}
		</update>
	
	
<!-- 게시판 삭제 -->
	
	
		<delete id="deleteBoard" parameterType="board" >
			DELETE
			FROM board
			WHERE board_no = #{boardNo}
		</delete> 
		 
		
	
	
<!-- Q&A 게시판 목록 -->
	
	<select 	id="listBoard" parameterType="map" resultMap="boardSelectMap">

		SELECT
	  		a.*
	  	FROM
	  		(
                SELECT 
                    ROWNUM AS rnum,
                     a.board_no,
                     a.study_no,                  
                     a.email,
                     a.nickname,
                     a.board_category,
                     a.board_title,
                     a.board_contents,
                     a.board_interest,
                     a.board_reg_date,
                     a.view_count,
                     a.comment_count,
                     a.board_reg_banana,
                     a.file_flag,
                     a.answer_count 
                FROM 
                    board a
                WHERE
                	board_category = #{board.boardCategory}
                	<if test="search.searchKeyword!=null and search.searchKeyword!=''">
                		<choose>
                			<!-- <when test="searchCondition!=null and searchCondition==1"> -->
                			<when test='search.searchCondition!=null and search.searchCondition.equals("1")'>
                				AND board_title like '%'||#{search.searchKeyword}||'%'
                			</when>
                			<when test="searchCondition!=null and searchCondition==2">
                				AND board_contents like '%'||#{search.searchKeyword}||'%'
                			</when>
                			<otherwise>
                				AND nickname like '%'||#{search.searchKeyword}||'%'
                			</otherwise>
                		</choose>
					 </if>
                ORDER BY board_no DESC
	  		) a	
	  	WHERE
  			a.rnum BETWEEN #{search.startRowNum} AND #{search.endRowNum}
         	   	
	</select> 


	<!-- 댓글 등록 -->
	<insert id="addComment" parameterType="comment" >
		INSERT 
		INTO comment_info 
		VALUES (
				seq_comment_no.nextval,
				 	#{commentBoard.boardNo}, 
				 	#{commentWriter.email},
				 	#{commentContents},
				 	#{commentWriter.nickname},
				 	SYSDATE
		)
	</insert>
	
	
		<!-- 게시판 수정 -->
	
	<update id="updateComment" parameterType="comment" >
		UPDATE 
			comment_info 
		SET 
			board_title = #{commentContents}			
		WHERE 
			board_no = #{boardNo}
	</update>
	
	
	<!-- Q&A 게시판 등록-->
	<!-- 
	<insert 	id="addQaBoard"	 parameterType="board">

		INSERT
		INTO board ( 
			 board_no,
			 
			 email,
			 nickname, 
			 board_category, 
			 board_title, 
			 board_contents, 
			 board_interest,
			 file_no,
			 file_Name,
			 board_reg_date,
			 board_reg_banana ) 
			 
		VALUES (
			seq_board_no.nextval, 
			#{email} ,
			#{nickname},
			#{boardCategory}, 
			#{boardTitle},
			#{boardContents},
			#{boardInterest},
			#{fileNo},
			#{fileName},
			#{boardRegDate},
			#{boardRegBanana}
			);

	 </insert> -->
	
	 
<!-- Q&A 게시판 보기-->

	<!--  <select 	id="getQaBoard"	parameterType="int"	resultMap="boardSelectMap">
		SELECT
		    b.board_no,
		    b.board_title,
		    b.board_interest,
		    b.nickname,
		    b.board_reg_date,
		    b.board_contents,
		    b.board_reg_banana,
		    c.comment_contents,
		    c.nickname,
		    c.comment_reg_date
		FROM
		    board         b,
		    comment_info  c
		WHERE
		     b.board_no = c.board_no
		AND	 
			 b.board_category = #{value}
	 </select>	 
 -->

<!--  Q&A 게시판 수정 -->

	<!-- <update 	id="updateQaBoard"	parameterType="board">

		UPDATE board
		<set>
			board_title = #{boardTitle}, 
			board_contents = #{boardContents},
			board_reg_banana = #{boardRegBanana},			
		</set>
		WHERE board_no = #{boardNo}

	</update> -->
	

	<!-- Q&A 게시판 답변 등록 -->
	
	<!-- <insert 	id="addAnswerBoard"	parameterType="board">
	
		INSERT
		INTO answer  
		VALUES (
			seq_answer_no.nextval,
			board_no,
			#{#email},
			#{answerContents},
			#{adoptionFlag},
			sysdate,
			#{nickname},  
			sysdate,
		);

	</insert>
 -->


<!-- Q&A 게시판 답변 수정 -->

	<!-- <update 	id="updateAnswerBoard"	parameterType="board">
	
		UPDATE answer
	<set>		
			answer_contents =#{answerContents}
	</set>
		WHERE email = #{email}		
	</update> -->
</mapper>