<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ogong.service.studyroom.StudyroomMapper">
 	
	<resultMap id="gsmSelectMap" type="groupStudyMember">
		<result property="groupStudyMemberNo" 		column="groupstudy_member_no" 		jdbcType="NUMERIC"/>
		<result property="study.studyNo"			column="study_no" 					jdbcType="NUMERIC" />
		<result property="member.email" 			column="email" 						jdbcType="VARCHAR" />
		<result property="member.nickname" 			column="nickname" 					jdbcType="VARCHAR" />
		<result property="studyRole" 				column="study_role" 				jdbcType="VARCHAR" />
		<result property="diligenceScore" 			column="diligence_score" 			jdbcType="NUMERIC" />
		<result property="participationScore" 		column="participation_score" 		jdbcType="NUMERIC" />
		<result property="participationReason" 		column="participation_reason" 		jdbcType="VARCHAR" />
		<result property="determination" 			column="determination" 				jdbcType="VARCHAR" />
		<result property="approvalFlag" 			column="approval_flag" 				jdbcType="CHAR"  />
		<result property="attendanceRate" 			column="attendance_rate" 			jdbcType="NUMERIC"  />
	</resultMap>
	
	<resultMap id="calendarSelectMap" type="calendar">
		<result property="calendarNo" 				column="calendar_no" 				jdbcType="NUMERIC"/>
		<result property="study.studyNo"			column="study_no" 					jdbcType="NUMERIC" />
		<result property="calendarTitle" 			column="calendar_title" 			jdbcType="VARCHAR" />
		<result property="calendarContents" 		column="calendar_contents" 			jdbcType="VARCHAR" />
		<result property="calendarStartDate" 		column="calendar_start_date" 		jdbcType="DATE" />
		<result property="calendarEndDate" 			column="calendar_end_date" 			jdbcType="DATE" />
		
	</resultMap>
	
	
	
	<select	id="getParticipationList"	parameterType="int"		resultMap="gsmSelectMap">
		
		SELECT
			g.groupstudy_member_no,
			g.study_no, 
			g.email, 
			g.participation_reason, 
			g.determination, 
			g.approval_flag,
			u.nickname
		FROM
			groupstudy_member g, users u
		WHERE
			g.email = u.email
		AND NVL(g.studyrole,'0') in ('4','0')
		AND	study_no = #{studyNo}
		ORDER BY groupstudy_member_no
		
	</select>
	
	<select id="getTotalCount"		parameterType="int"		resultType="int">
	
		SELECT COUNT(*)
		FROM ( 	SELECT
			g.groupstudy_member_no,
			g.study_no, 
			g.email, 
			g.participation_reason, 
			g.determination, 
			g.approval_flag,
			u.nickname
		FROM
			groupstudy_member g, users u
		WHERE
			g.email = u.email
		AND NVL(g.studyrole,'0') in ('4','0')
		AND	study_no = #{studyNo}
		) count_table
	
	</select>
	 
	 <update id="applyParticipation"	parameterType="string">
	 
	 	UPDATE
			groupstudy_member
		SET
			approval_flag = '1',
			studyrole = '4'
		WHERE
			email = #{value}
	 
	 </update>
	 
	 <delete id="rejectParticipation"	parameterType="int">
	 	DELETE
	 		groupstudy_member
	 	WHERE
	 		groupstudy_member_no = #{value}
	 </delete>
	 
	 <select	id="getGSMemberList"	parameterType="int"	resultMap="gsmSelectMap">
	 
	 	SELECT
			g.groupstudy_member_no,
			g.study_no,
			g.email,
			u.nickname,
			s.study_end_date-s.study_start_date,
			TRUNC((count.c/((SYSDATE+1)-s.study_start_date))*100,1) attendance_rate
		FROM groupstudy_member g, users u, study s, 
			(select email, study_no, count(*) c
                FROM attendance
                WHERE 
                    study_no = #{value}
                GROUP BY 
                	email, study_no) count		
		WHERE g.email = u.email
		AND g.email = count.email
		AND g.study_no = count.study_no
		AND g.study_no = s.study_no
		AND g.study_no = #{value}
	 
	 </select>
	 
	 <update id="updateStudy"	parameterType="study">
	 
	 	UPDATE study
		SET
			study_name = #{studyName},
			study_hashtag = #{studyHashtag:VARCHAR},
			study_thumbnail = #{studyThumbnail:VARCHAR},
			selfstudy_rule = #{selfStudyRule:VARCHAR},
			groupstudy_info = #{groupStudyInfo:VARCHAR},
			groupstudy_plan = #{groupStudyPlan:VARCHAR},
			groupstudy_condition = #{groupStudyCondition:VARCHAR},
			recruitment_start_date = #{recruitmentStartDate:DATE},
			recruitment_end_date = #{recruitmentEndDate:DATE},
			study_start_date = #{studyStartDate:DATE},
			study_end_date = #{studyEndDate:DATE}
		WHERE
			study_no = #{studyNo}
	 
	 </update>
	 
	 <insert id="addAttendance"		parameterType="map">
	 	INSERT
	 	INTO attendance
	 	(
		 	attendance_no,
		 	study_no,
		 	email,
		 	attendance_date
	 	)
		VALUES
		(
			seq_attendance_no.NEXTVAL,
			#{studyNo},
			#{email},
			SYSDATE
		)
	 </insert>
	 
	 <select id="checkAttendance" parameterType="map" resultType="String">
		SELECT
			attendance_date
		FROM
			attendance
		WHERE
			study_no= #{studyNo}
		AND email = #{email}
		AND TO_CHAR(attendance_date,'yyyy-mm-dd') = TO_CHAR(SYSDATE,'yyyy-mm-dd') 
	 </select>
	 
	 <insert id="addCalendar"	parameterType="calendar">
	 	
	 	INSERT
		INTO calendar
		(
			calendar_no,
			study_no,
			calendar_title,
			calendar_contents,
			calendar_start_date,
			calendar_end_date
		)
		VALUES
		(
			seq_calendar_no.NEXTVAL,
			#{study.studyNo},
			#{calendarTitle:VARCHAR},
			#{calendarContents:VARCHAR},
			#{calendarStartDate},
			#{calendarEndDate}
		)
	 
	 </insert>
	 
	 <select id="getCalendar"	parameterType="int"		resultMap="calendarSelectMap">
	 	SELECT
			calendar_no,
			study_no,
			calendar_title,
			calendar_contents,
			calendar_start_date,
			calendar_end_date
			FROM
				calendar
			WHERE
				calendar_no = #{value}
	 
	 </select>
	 
	 <select id="getCalendarList"	parameterType="int"		resultMap="calendarSelectMap">
	 	
	 	SELECT
			calendar_no,
			study_no,
			calendar_title,
			calendar_contents,
			calendar_start_date,
			calendar_end_date
		FROM
			calendar
		WHERE
			study_no = #{value}
	 
	 </select>
	 
	 <update id="updateCalendar"	parameterType="calendar">
	 	UPDATE calendar
		SET
			calendar_title = #{calendarTitle:VARCHAR},
			calendar_contents = #{calendarContents:VARCHAR},
			calendar_start_date = #{calendarStartDate},
			calendar_end_date = #{calendarEndDate}
		WHERE
			calendar_no = #{calendarNo}
	 	
	 </update>
	 
	 <delete id="deleteCalendar"	parameterType="int">
	 	DELETE
	 		calendar
	 	WHERE
	 		calendar_no = #{value}
	 </delete>
	 
</mapper>