<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ogong.service.study.TestStudyMapper">
 	
	<resultMap id="studySelectMap" type="study">
		<result property="studyNo" 					column="study_no" 					jdbcType="NUMERIC"/>
		<result property="studyName" 				column="study_name" 				jdbcType="VARCHAR" />
		<result property="studyHashtag" 			column="study_hashtag" 				jdbcType="VARCHAR" />
		<result property="studyThumbnail" 			column="study_thumbnail" 			jdbcType="VARCHAR" />
		<result property="studyStartDate" 			column="study_start_date" 			jdbcType="DATE" />
		<result property="studyEndDate" 			column="study_end_date" 			jdbcType="DATE" />
		<result property="studyRegDate" 			column="study_reg_date" 			jdbcType="DATE" />
		<result property="currentMemmer" 			column="current_member" 			jdbcType="NUMERIC"  />
		<result property="maxMamber" 				column="max_member" 				jdbcType="NUMERIC" />
		<result property="selfStudyRule" 			column="selfstudy_rule" 			jdbcType="VARCHAR" />
		<result property="selfStudyOpenFlag" 		column="selfstudy_open_flag" 		jdbcType="CHAR" />
		<result property="selfStudyPassword" 		column="selfstudy_password" 		jdbcType="VARCHAR"  />
		<result property="groupStudyInfo" 			column="groupstudy_info" 			jdbcType="VARCHAR" />
		<result property="groupStudyPlan" 			column="groupstudy_plan" 			jdbcType="VARCHAR" />
		<result property="groupStudyCondition" 		column="groupstudy_condition" 		jdbcType="VARCHAR" />
		<result property="recruitmentStartDate" 	column="recruitment_start_date" 	jdbcType="DATE"  />
		<result property="recruitmentEndDate" 		column="recruitment_end_date" 		jdbcType="DATE" />
		<result property="studyEndFlag" 			column="study_end_flag" 			jdbcType="CHAR" />
		<result property="studyRoomGrade" 			column="studyroom_grade" 			jdbcType="VARCHAR" />
		<result property="studyType" 				column="study_type" 				jdbcType="VARCHAR"  />
		<result property="studyInterest" 			column="study_interest" 			jdbcType="VARCHAR" />
		
		<association property="studyMaker"  javaType="user">
			<id property="email" column="email" jdbcType="VARCHAR"/>
		</association>
		
	</resultMap>
	
	<insert 	id="addStudy"		parameterType="study" >
	 	INSERT
		INTO study
		( 
		study_no, email, study_name, study_hashtag, study_thumbnail, 
		study_start_date, study_end_date, study_reg_date, current_member, 
		max_member, selfstudy_rule, selfstudy_open_flag, selfstudy_password, 
		groupstudy_info, groupstudy_plan, groupstudy_condition, recruitment_start_date, 
		recruitment_end_date, study_end_flag, studyroom_grade, study_type, study_interest)
		VALUES	 
		(	
		seq_study_no.NEXTVAL, 
		#{studyMaker.email}, 
		#{studyName}, 
		#{studyHashtag:VARCHAR}, 
		#{studyThumbnail:VARCHAR}, 
		#{studyStartDate}, 
		#{studyEndDate}, 
		SYSDATE, 
		1, 
		#{maxMamber:NUMERIC}, 
		#{selfStudyRule:VARCHAR},
		#{selfStudyOpenFlag:VARCHAR},
		#{selfStudyPassword:VARCHAR},
		#{groupStudyInfo:VARCHAR},
		#{groupStudyPlan:VARCHAR}, 
		#{groupStudyCondition:VARCHAR}, 
		#{recruitmentStartDate:DATE}, 
		#{recruitmentEndDate:DATE},
		'1', 
		#{studyRoomGrade},
		#{studyType}, 
		#{studyInterest} 
		)
	 </insert>
	 
	 <select	id="getStudy"	parameterType="study"	resultMap="studySelectMap">
	 
	 	SELECT 
			study_no, 
			email, 
			study_name, 
			study_hashtag, 
			study_thumbnail, 
			study_start_date, 
			study_end_date, 
			current_member, 
			max_member, 
			selfstudy_rule, 
			selfstudy_password, 
			groupstudy_info, 
			groupstudy_plan, 
			groupstudy_condition, 
			recruitment_start_date, 
			recruitment_end_date, 
			studyroom_grade, 
			study_interest
		FROM study
		where study_no = #{value}
	 	
	 </select>
	 
	 <select id="getStudyList"	parameterType="hashmap" resultMap="studySelectMap">
	 
	 	SELECT
		study_no, email, study_name, study_hashtag, study_thumbnail, study_start_date, study_end_date, current_member, 
		max_member, selfstudy_password, recruitment_start_date, recruitment_end_date, studyroom_grade, study_interest
		FROM (  SELECT
   			study_no, email, study_name, study_hashtag, study_thumbnail, study_start_date, study_end_date, current_member, 
			max_member, selfstudy_password, recruitment_start_date, recruitment_end_date, studyroom_grade, study_interest, ROWNUM AS row_seq
  			FROM (  SELECT
      			study_no, email, study_name, study_hashtag, study_thumbnail, study_start_date, study_end_date, current_member, 
				max_member, selfstudy_password, recruitment_start_date, recruitment_end_date, studyroom_grade, study_interest
      			FROM study
      			<where>
      				study_end_flag = '1'
      					<if test="studyType == 'self'">
      						AND study_type = 'self'
      						AND study_open_flag = '1'
      					</if>
      					<if test="studyType == 'group'">
      						AND study_type = 'group'
      					</if>
      					<if test="search.studyInterest != null">
      						<if test="search.studyInterest == 1">
      						AND study_interest = '독서'
      						</if>
      						<if test="search.studyInterest == 2">
      						AND study_interest = '어학'
      						</if>
      						<if test="search.studyInterest == 3">
      						AND study_interest = '임용'
      						</if>
      						<if test="search.studyInterest == 4">
      						AND study_interest = '취업'
      						</if>
      						<if test="search.studyInterest == 5">
      						AND study_interest = '공무원'
      						</if>
      						<if test="search.studyInterest == 6">
      						AND study_interest = '자격증'
      						</if>
      						<if test="search.studyInterest == 7">
      						AND study_interest = '자기계발'
      						</if>
      						<if test="search.studyInterest == 8">
      						AND study_interest = '기타공부'
      						</if>		
      					</if>
	      				<if test="search.searchCondition != null">
			      			<if test="search.searchCondition == 1">
			      				and study_name LIKE '%'||#{searchKeyword}||'%'
			      			</if>
			      			<if test="search.searchCondition == 2">
			      			and study_hashtag LIKE '%'||#{searchKeyword}||'%'
			      			</if>
			      		</if>
	      		</where>
	      		<choose>
	      			<when test="search.searchSort == 1">
	      				ORDER BY current_member ASC
	      			</when>
	      			<when test="search.searchSort == 2">
	      				ORDER BY current_member DESC
	      			</when>
	      			<when test="search.searchSort == 3">
	      				ORDER BY study_reg_date ASC
	      			</when>
	      			<when test="search.searchSort == 4">
	      				ORDER BY study_reg_date DESC
	      			</when>
	      			<otherwise>
	      				ORDER BY study_no
	      			</otherwise>
	      		</choose>
   				) inner_table
   			WHERE ROWNUM &lt;= #{endRowNum}) outer_table
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}

	 </select>
	 
	 <select	id="getTotalCount"	parameterType="hashmap"		resultType="int">
	 	 SELECT COUNT(*)
	 	 FROM(	SELECT
      			study_no, email, study_name, study_hashtag, study_thumbnail, study_start_date, study_end_date, current_member, 
				max_member, selfstudy_password, recruitment_start_date, recruitment_end_date, studyroom_grade, study_interest
      			FROM study
      			<where>
      				study_end_flag = '1'
      					<if test="studyType == 'self'">
      						AND study_type = 'self'
      						AND study_open_flag = '1'
      					</if>
      					<if test="studyType == 'group'">
      						AND study_type = 'group'
      					</if>
      					<if test="search.studyInterest != null">
      						<if test="search.studyInterest == 1">
      						AND study_interest = '독서'
      						</if>
      						<if test="search.studyInterest == 2">
      						AND study_interest = '어학'
      						</if>
      						<if test="search.studyInterest == 3">
      						AND study_interest = '임용'
      						</if>
      						<if test="search.studyInterest == 4">
      						AND study_interest = '취업'
      						</if>
      						<if test="search.studyInterest == 5">
      						AND study_interest = '공무원'
      						</if>
      						<if test="search.studyInterest == 6">
      						AND study_interest = '자격증'
      						</if>
      						<if test="search.studyInterest == 7">
      						AND study_interest = '자기계발'
      						</if>
      						<if test="search.studyInterest == 8">
      						AND study_interest = '기타공부'
      						</if>		
      					</if>
	      				<if test="search.searchCondition != null">
			      			<if test="search.searchCondition == 1">
			      				and study_name LIKE '%'||#{searchKeyword}||'%'
			      			</if>
			      			<if test="search.searchCondition == 2">
			      			and study_hashtag LIKE '%'||#{searchKeyword}||'%'
			      			</if>
			      		</if>
	      		</where>
      			) countTable
	 
	 </select>
	
</mapper>